{% set registry_secret = rancher.fleet.image_pull_secret %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ registry_secret.name }}
  namespace: cattle-fleet-system
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ {'auths': {registry_secret.server: {'username': registry_secret.username, 'password': registry_secret.password, 'auth': (registry_secret.username ~ ':' ~ registry_secret.password) | b64encode}}} | to_json | b64encode }}
