[defaults]
inventory = inventories/home/hosts.yml
roles_path = roles
collections_path = ~/.ansible/collections:collections
vars_plugins_enabled = host_group_vars,community.sops.sops
hash_behaviour = merge
host_key_checking = True
interpreter_python = auto_silent
stdout_callback = default
callback_result_format = yaml
callback_format_pretty = true
retry_files_enabled = False
forks = 10

[community.sops]
sops_binary = /home/asaharan/.local/bin/sops
age_keyfile = /home/asaharan/.config/sops/age/keys.txt
vars_stage = inventory
