k8sServiceHost: {{ k3s.registration_vip }}
k8sServicePort: {{ cilium.k8s_service_port }}
kubeProxyReplacement: true
localRedirectPolicies:
  enabled: false
resources:
  requests:
    cpu: {{ cilium.resources.agent.requests.cpu }}
    memory: {{ cilium.resources.agent.requests.memory }}
  limits:
    memory: {{ cilium.resources.agent.limits.memory }}
initResources:
  requests:
    cpu: {{ cilium.resources.init.requests.cpu }}
    memory: {{ cilium.resources.init.requests.memory }}
  limits:
    cpu: {{ cilium.resources.init.limits.cpu }}
    memory: {{ cilium.resources.init.limits.memory }}
cgroup:
  autoMount:
    resources:
      requests:
        cpu: {{ cilium.resources.init.requests.cpu }}
        memory: {{ cilium.resources.init.requests.memory }}
      limits:
        cpu: {{ cilium.resources.init.limits.cpu }}
        memory: {{ cilium.resources.init.limits.memory }}
cni:
  resources:
    requests:
      cpu: {{ cilium.resources.init.requests.cpu }}
      memory: {{ cilium.resources.init.requests.memory }}
    limits:
      cpu: {{ cilium.resources.init.limits.cpu }}
      memory: {{ cilium.resources.init.limits.memory }}
loadBalancer:
  serviceTopology: {{ cilium.service_topology | lower }}
hubble:
  enabled: {{ cilium.hubble.enabled | lower }}
  relay:
    enabled: {{ cilium.hubble.relay.enabled | lower }}
  ui:
    enabled: {{ cilium.hubble.ui.enabled | lower }}
    replicas: {{ cilium.hubble.ui.replicas }}
    ingress:
      enabled: {{ cilium.hubble.ui.ingress.enabled | lower }}
      className: {{ cilium.hubble.ui.ingress.class_name | to_json }}
      hosts:
{% for host in cilium.hubble.ui.ingress.hosts %}
        - {{ host | to_json }}
{% endfor %}
      tls: {{ cilium.hubble.ui.ingress.tls | to_json }}
securityContext:
  capabilities:
    ciliumAgent:
{% for capability in cilium.agent_capabilities %}
      - {{ capability }}
{% endfor %}
ipam:
  operator:
    clusterPoolIPv4PodCIDRList:
      - {{ cilium.cluster_pool_ipv4_pod_cidr_list | to_json }}
operator:
  replicas: {{ cilium.operator_replicas }}
  resources:
    requests:
      cpu: {{ cilium.resources.operator.requests.cpu }}
      memory: {{ cilium.resources.operator.requests.memory }}
    limits:
      cpu: {{ cilium.resources.operator.limits.cpu }}
      memory: {{ cilium.resources.operator.limits.memory }}
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - topologyKey: kubernetes.io/hostname
          labelSelector:
            matchLabels:
              io.cilium/app: operator
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          io.cilium/app: operator
envoy:
  resources:
    requests:
      cpu: {{ cilium.resources.envoy.requests.cpu }}
      memory: {{ cilium.resources.envoy.requests.memory }}
    limits:
      memory: {{ cilium.resources.envoy.limits.memory }}
