apiVersion: v1
kind: Secret
metadata:
  name: {{ cert_manager.cloudflare_api_token_secret_name }}
  namespace: {{ cert_manager.namespace }}
type: Opaque
stringData:
  api-token: "{{ cert_manager.cloudflare.api_token }}"
