{% set registry_secret = fleet_apps.image_scan.registry_secret %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ registry_secret.name }}
  namespace: {{ fleet_apps.namespace }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ {'auths': {registry_secret.server: {'username': registry_secret.username, 'password': registry_secret.password, 'auth': (registry_secret.username ~ ':' ~ registry_secret.password) | b64encode}}} | to_json | b64encode }}
