apiVersion: v1
kind: Secret
metadata:
  name: {{ fleet_apps.client_secret_name }}
  namespace: {{ fleet_apps.namespace }}
type: kubernetes.io/basic-auth
stringData:
  username: {{ fleet_apps.git_auth.username | to_json }}
  password: {{ fleet_apps.git_auth.password | to_json }}
